.navbar {
    background: $secondary-color;
    color: set-text-color($primary-color);
    padding: 15px 30px;

    .navbar-brand {
        font-size: 24px;
        color: $primary-color;
        font-weight: 500;
    }

    .navbar-nav {
        margin-left: auto;
        
        .nav-item {
            padding-left: 10px;
            font-size: 18px;

            a {
                color: #000;
                @include transition-ease;

                &.active {
                    color: $primary-color;
                }

                &:hover {
                    color: $primary-color;
                    @include transition-ease;
                }
            }
        }
    }
}